{% ckan_extends %}

{% macro license_string(pkg_dict) %}
  {% if 'license_url' in pkg_dict %}
    <a href="{{ pkg_dict.license_url }}" rel="dc:rights">{% if pkg_dict.license_title == 'CC0 1.0' %}Creative Commons Zero Universal 1.0 Public Domain Dedication{% elif pkg_dict.license_title == 'CC BY 4.0' %}Creative Commons Attribution 4.0 International{% elif pkg_dict.license_title == 'ODbL' %}Open Data Commons Open Database License{% else %}{{ pkg_dict.license_title }}{% endif %}</a>
  {% else %}
    {% if pkg_dict.license_id %}
      <span property="dc:rights">{{ pkg_dict.license_title }}</span>
    {% else %}
      <span>{{ _('No License Provided') }}</span>
    {% endif %}
  {% endif %}
{% endmacro %}

{% block license_title %}
  <h2 class="module-heading"><i class="fa fa-medium fa-lock"></i> {{ _('License') }}</h2>
{% endblock %}