{% ckan_extends %}

{% block resource_actions_inner %}
{% if h.check_access('package_update', {'id':pkg.id }) and not is_activity_archive %}
  <li>{% link_for _('Manage'), named_route=pkg.type ~ '_resource.edit', id=pkg.name, resource_id=res.id, class_='btn btn-default', icon='wrench' %}</li>
{% endif %}
{% if res.url and h.is_url(res.url) %}
  <li>
    <div class="btn-group">
    <a class="btn btn-lg btn-primary resource-type-{{ res.resource_type }}" href="{{ res.url }}" target="_blank">
      {% if res.resource_type == 'api' %}
        <i class="fa fa-external-link"></i> {{ _('API Endpoint') }}
      {% else %}
        <i class="fa fa-arrow-circle-o-down"></i> {{ _('Download') }}
      {% endif %}
    </a>
    </div>
  </li>
{% endif %}
{% endblock %}

{% block resource_content %}
  {% block package_archive_notice %}
    {% if is_activity_archive %}
      <div id="activity-archive-notice" class="alert alert-danger">
        {% trans url=h.url_for(pkg.type ~ '.read', id=pkg.id) %}
        You're currently viewing an old version of this dataset. To see the
        current version, click <a href="{{ url }}">here</a>.
        {% endtrans %}
      </div>
    {% endif %}
  {% endblock %}
  {% block resource_read_title %}<h1 class="page-heading">{{ h.resource_display_name(res) }}</h1>{% endblock %}
  {% block resource_read_url %}
    {% if res.url and h.is_url(res.url) %}
      <p class="text-muted ellipsis">{{ _('URL:') }} <a href="{{ res.url }}" target="_blank" title="{{ res.url }}">{{ res.url }}</a></p>
    {% elif res.url %}
      <p class="text-muted break-word">{{ _('URL:') }} {{ res.url }}</p>
    {% endif %}
  {% endblock %}
  <div class="prose notes" property="rdfs:label">
    {% if res.description %}
      {{ h.render_markdown(res.description) }}
    {% endif %}
    {% if not res.description and package.notes %}
      <h3>{{ _('Dataset description:') }}</h3>
      <blockquote>{{ h.markdown_extract(h.get_translated(package, 'notes')) }}</blockquote>
    {% endif %}
  </div>
{% endblock %}

{% block resource_additional_information %}
  {% if res %}
    <section class="module">
      {% block resource_additional_information_inner %}
      <div class="module-content">
        <h2>{{ _('Additional Information') }}</h2>
        <table class="table table-striped table-bordered table-condensed" data-module="table-toggle-more">
          <tbody>
            <tr>
              <th scope="row">{{ _('ID') }}</th>
              <td>{{ res.id }}</td>
            </tr>
            <tr>
              <th scope="row">{{ _('Data last updated') }}</th>
              <td>{% snippet 'snippets/local_friendly_datetime.html', datetime_obj=res.last_modified %}</td>
            </tr>
            <tr>
              <th scope="row">{{ _('License') }}</th>
              <td>{% snippet "snippets/license.html", pkg_dict=pkg, text_only=True %}</td>
            </tr>
            {% if res.resource_type == 'file' and res.datastore_active is defined %}
              <tr>
                <th scope="row">{{ _('DataStore?') }}</th>
              <td>{% if res.datastore_active == true %}{{ _('yes') }}{% else %}{{ _('no') }}{% endif %}</td>
              </tr>
            {% endif %}
            {% if res.language %}
              <tr>
                <th scope="row">{{ _('Language') }}</th>
                <td>{{ res.language }}</td>
              </tr>
            {% endif %}
            {% if res.resource_type == 'file' %}
              {% if res.format %}
                <tr>
                  <th scope="row">{{ _('Format') }}</th>
                  <td>
                    {% if res.format == 'SHP' %}
                      Shapefile
                    {% else %}
                      {{ res.format }}
                    {% endif %}
                  </td>
                </tr>
              {% endif %}
              {% for key, value in h.format_resource_items(res.items()) %}
                {% if key == 'mimetype' or key == 'Media type' %}
                  {% if 'zip' in value %}
                    <tr>
                      <th scope="row">{{ _('Compression format') }}</th>
                      <td>ZIP</td>
                    </tr>
                  {% endif %}
                  <tr>
                    <th scope="row">{{ _('MIME type') }}</th>
                    <td>{{ value }}</td>
                  </tr>
                {% endif %}
                {% if key == 'size' or key == 'Size' or key == 'Größe' %}
                  <tr>
                    <th scope="row">{{ _('Size') }}</th>
                    <td>{% snippet 'snippets/nice_size.html', size_string=value %}</td>
                  </tr>
                {% endif %}
                {% if key == 'hash' %}
                  <tr>
                    <th scope="row">{{ _('Hash') }}</th>
                    <td>{{ value }}</td>
                  </tr>
                {% endif %}
              {% endfor %}
            {% endif %}
          </tbody>
        </table>
      </div>
      {% endblock %}
    </section>
  {% endif %}
{% endblock %}