{% trans %}
<h2>Publisher</h2>

<p>Hanseatic and University City of Rostock<br/>The Mayor<br/>18050 Rostock<br/><a href="mailto:ob@rostock.de">ob@rostock.de</a></p>

<h2>VAT identification number</h2>

<p>DE 137385469</p>

<h2>Data controller</h2>

<p>Hanseatic and University City of Rostock<br/>The Mayor<br/>Office of the Mayor<br/>Press and Information Office<br/>18050 Rostock<br/><a href="mailto:presse@rostock.de">presse@rostock.de</a></p>

<h2>Concept, maintenance and technical implementation</h2>

<p>Hanseatic and University City of Rostock<br/>Cadastre, Surveying and Land Management Office<br/>An der Jägerbäk 3<br/>18069 Rostock<br/><a href="mailto:geodienste@rostock.de">geodienste@rostock.de</a></p>

<h2>Liability for content</h2>

<p>This website contains links to external third-party websites. The Hanseatic and University City of Rostock has no influence on the content of these websites. The respective provider is always responsible for the content of the linked pages. Upon becoming aware of any legal violations, such links will be removed without delay.</p>

<h2>Use of contact data</h2>

<p>The use of contact data published in this legal notice for sending unsolicited advertising is hereby prohibited.</p>

<h2>Contact</h2>

<p>For comments, suggestions, or questions, please contact:<br/><a href="mailto:geodienste@rostock.de">geodienste@rostock.de</a></p>
{% endtrans %}
