{% trans %}
<h2>Using this web application</h2>

<p>You can use this web application offered by the municipality of Rostock completely without having to provide any personally-identifying information.</p>

<h2>Establishing contacts with the municipality of Rostock</h2>
<p>If you establish contacts with the municipality of Rostock, your personally-identifying information (i.e. name, address, telephone number, email address, etc.) are stored internally and used for its designated purpose only. In any case, your personally-identifying information is protected by the Data Protection Act of Mecklenburg-Western Pomerania. The information will be circulated to third parties only on legal obligation or on obligation caused by judicial decisions or in case of attacks on the internet infrastructure of the municipality of Rostock, as far as necessitated by prosecution. Your personally-identifying information will never be transferred to unaffiliated third parties for commercial or other purposes.</p>

<h2>Logging</h2>

<p>When you access this web application offered by the municipality of Rostock, the following information is logged:</p>
<ul>
    <li>IP address of the accessing device,</li>
    <li>name and version of the web browser, name and version of the operating system, and screen resolution of the accessing device,</li>
    <li>date, time of day, and duration of the access,</li>
    <li>accessed service, accessed ressource, and applied action,</li>
    <li>access status,</li>
    <li>and amount of data transferred.</li>
</ul>

<p>The information collected is for creating summary statistics only which give an overview of the general usage of this web application or certain parts of it respectively. For the automated creation of the summary statistics the municipality of Rostock uses <a href="https://piwik.org" target="_blank">Piwik</a>, an open-source software web analytics system. Piwik uses cookies which are temporarily stored on the accessing device.</p>

<p>The information collected is stored internally and used for its designated purpose only. In any case, the information is protected by the Data Protection Act of Mecklenburg-Western Pomerania. The information will be circulated to third parties only on legal obligation or on obligation caused by judicial decisions or in case of attacks on the internet infrastructure of the municipality of Rostock, as far as necessitated by prosecution. The information will never be transferred to unaffiliated third parties for commercial or other purposes.</p>

<h2>Use of cookies</h2>

<p>This web application offered by the municipality of Rostock does not make use of cookies.</p>

<h2>Security</h2>

<p>The municipality of Rostock applies technical as well as organisational precautions to this web application in order to protect stored and used information against unintentional or intentional manipulation, loss or deletion and against access of unaffiliated third parties. The precautions are being improved continuously according to technological progress.</p>
{% endtrans %}
