{% trans %}
<h2>Data processing body</h2>

<p>Municipality of Rostock<br/>Land Registry Office<br/>Holbeinplatz 14<br/>18069 Rostock<br/><a href="mailto:geodienste@rostock.de">geodienste@rostock.de</a></p>

<h2>Data protection officer</h2>

<p>Municipality of Rostock<br/>Office of the Mayor<br/>Data Protection Officer<br/>18050 Rostock<br/><a href="mailto:datenschutz@rostock.de">datenschutz@rostock.de</a></p>

<h2>Using this web application</h2>

<p>You can use this web application offered by the municipality of Rostock completely without having to provide any personally-identifying information.</p>

<h2>Logging</h2>

<p>When you access this web application offered by the municipality of Rostock, no data is logged.</p>

<h2>Security</h2>

<p>The municipality of Rostock applies technical as well as organisational precautions to this web application in order to protect stored and used information against unintentional or intentional manipulation, loss or deletion and against access of unaffiliated third parties. The precautions are being improved continuously according to technological progress.</p>
{% endtrans %}
