{% set intro = g.site_intro_text %}

<div class="module-content box">
  <div>
    {% if intro %}
      {{ h.render_markdown(intro) }}
    {% else %}
      <h1 class="page-heading">{{ _('Welcome to {0}!').format(g.site_title) }}</h1>
      <p>
        {% trans %}The Hanseatic and University City of Rostock collects and maintains a wide range of data. These data hold enormous potential for innovation when made freely available as open data for everyone and can be reused and redistributed for any purpose – including commercial use. This portal serves as the central platform for publishing the open data of the Hanseatic and University City of Rostock.{% endtrans %}
      </p>
    {% endif %}
  </div>

  {% block home_image %}
    <section class="featured media-overlay hidden-xs">
      
      {% block home_image_content %}
        <img src="{{ h.url_for_static('/img/promoted.png') }}" alt="Placeholder" width="420" height="220" />
      {% endblock %}
    </section>
  {% endblock %}
</div>
