{% set stats = h.get_site_statistics() %}

<div class="card box stats">
  <div class="card-body inner">

    <h3 class="card-title">
      {{ _('{0} statistics').format(g.site_title) }}
    </h3>

    <ul class="list-unstyled stats-list">

      <li class="stat-item">
        <a href="{{ h.url_for('dataset.search') }}">
          <strong>{{ h.SI_number_span(stats.dataset_count) }}</strong>
          {{ ungettext(_('Dataset'), _('Datasets'), stats.dataset_count) }}
        </a>
      </li>

      <li class="stat-item">
        <a href="{{ h.url_for('organization.index') }}">
          <strong>{{ h.SI_number_span(stats.organization_count) }}</strong>
          {{ ungettext(_('Organization'), _('Organizations'), stats.organization_count) }}
        </a>
      </li>

      <li class="stat-item">
        <a href="{{ h.url_for('group.index') }}">
          <strong>{{ h.SI_number_span(stats.group_count) }}</strong>
          {{ ungettext(_('Group'), _('Groups'), stats.group_count) }}
        </a>
      </li>

    </ul>

  </div>
</div>