{% trans %}
<h2>Using the data of the municipality of Rostock</h2>

<p>The data owned by the municipality of Rostock and offered via this web application are, unless otherwise specified, made available under the <a rel="license" href="https://creativecommons.org/publicdomain/zero/1.0" target="_blank">Creative Commons Zero Universal 1.0 Public Domain Dedication</a> (CC0 1.0). This means that you can do what ever you want with the data without having to ask for further permission.</p>

<h2>Using the ORKa.MV map</h2>

<p>The ORKa.MV map, owned by the municipality of Rostock and offered via this web application, is made available under the <a rel="license" href="https://creativecommons.org/licenses/by/4.0" target="_blank">Creative Commons Attribution 4.0 International</a> (CC BY 4.0). This means that you are free to copy, distribute and transmit the map, to adapt the map, and to make commercial use of the map as long as you attribute the map in the following manner: © Hanse- und Universitätsstadt Rostock (CC BY 4.0).</p>

<h2>Using the other content of the municipality of Rostock</h2>

<p>The other content owned by the municipality of Rostock and offered via this web application is made available under CC BY 4.0. This means that you are free to copy, distribute and transmit the other content, to adapt the other content, and to make commercial use of the other content as long as you attribute the other content in the following manner: © Hanse- und Universitätsstadt Rostock (CC BY 4.0).</p>

<h2>Using the data of the OpenStreetMap project</h2>

<p>The data owned by the contributors of the <a href="https://www.openstreetmap.org" target="_blank">OpenStreetMap</a> project are made available under the <a rel="license" href="https://opendatacommons.org/licenses/odbl/index.html" target="_blank">Open Data Commons Open Database License</a> (ODbL). For processing these data the municipality of Rostock uses the open-source software <a href="https://imposm.org" target="_blank">Imposm</a>. In any case, the data has to be attributed in the following manner: © OpenStreetMap (ODbL).</p>

<h2>Using the data of the districts and district-like towns of Mecklenburg-Western Pomerania</h2>

<p>The data owned by the districts and district-like towns of Mecklenburg-Western Pomerania are protected by copyright. A permission to use this data is present to the municipality of Rostock. In any case, the data has to be attributed in the following manner: © LkKfS-MV.</p>

<h2>Using the other content</h2>

<p>This web application offered by the municipality of Rostock is based on <a href="https://ckan.org" target="_blank">CKAN</a>, a web-based system for the storage and distribution of data. The original author of CKAN is the <a href="https://okfn.org" target="_blank">Open Knowledge Foundation</a>. It published its work under the <a rel="license" href="https://www.gnu.org/licenses/agpl-3.0.html" target="_blank">GNU Affero General Public License 3.0</a> (AGPL 3.0).</p>

<p>The custom CKAN-template for this web application is published <a href="https://github.com/rostock/ckanext-hro_theme" target="_blank">here</a> under the AGPL 3.0.</p>

<p>The font used within this web application is called PT Sans. It was created in 2009 by <a href="https://www.paratype.com" target="_blank">ParaType</a> and is published <a href="https://www.paratype.com/public" target="_blank">here</a> under <a rel="license" href="https://www.paratype.com/public/pt_openlicense_eng.asp" target="_blank">this license</a>.

<p>The icons used within this web application for illustrating the groups of datasets were created by <a href="https://www.seitenbau.com" target="_blank">SEITENBAU</a> and are published <a href="https://github.com/GovDataOfficial/GovDataPortal" target="_blank">here</a> under the AGPL 3.0.</p>
{% endtrans %}
