{% extends "page.html" %}

{% block subtitle %}{{ _('Imprint') }}{% endblock %}

{% block breadcrumb_content %}
  <li class="active">{% link_for _('Imprint'), 'hro_theme.imprint' %}</li>
{% endblock %}

{% block primary %}
  <article class="module">
    <div class="module-content">
      {% block imprint %}
        <h1 class="page-heading">{{ _('Imprint') }}</h1>
        {% snippet 'home/snippets/imprint_text.html' %}
      {% endblock %}
    </div>
  </article>
{% endblock %}

{% block secondary %}{% endblock %}
